.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 130px;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

.header__link {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #4F5665;
}

.header__burger-menu {
  display: none;
}

.header__authorization {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__button {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #0B132A;
  border: none;
  background: none;
  height: 45px;
  width: auto;
  margin-right: 30px;
}

.header__button1 {
  color: #f53855;
  border-color: #F53855;
  width: 150px;
  height: 45px;
}

.header__button1:hover {
  background-color: #F53855;
}

@media screen and (max-width: 1200px) {
  .header__list {
    gap: 20px;
  }
}

@media screen and (max-width: 992px) {
  .header {
    display: -ms-grid;
    display: grid;
        grid-template-areas: 'menu logo right ';
    grid-column-gap: 50px;
  }
  .header__list {
    display: none;
  }
  .header__burger-menu {
    display: block;
  }
  .header__logo {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: logo;
    margin-right: 180px;
  }
  .header__authorization {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 3;
    grid-area: right;
  }
  .header__menu {
    margin-right: 0;
    width: 100px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: menu;
  }
  .header__menu:hover .header__burger-menu {
    display: none;
  }
  .header__menu:hover .header__list {
    display: block;
  }
  .header__item {
    margin-top: 5px;
  }
  .header__button {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    height: 36px;
    margin-right: 25px;
  }
  .header__button1 {
    width: 120px;
    height: 36px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    height: 60px;
    padding-top: 20px;
  }
  .header__menu {
    margin-right: 0;
    width: 50px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
  }
  .header__menu:hover .header__list {
    position: absolute;
    display: block;
    left: -20px;
    top: 0;
    height: auto;
    width: 150px;
    z-index: 2;
    background-color: #F6F6F6;
    border: 0.5px solid #eeecec;
  }
  .header__logo {
    margin-right: 0;
  }
  .header__item {
    margin-top: 5px;
    height: 25px;
  }
  .header__link {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    margin-left: 20px;
  }
  .header__button {
    display: none;
  }
  .header__button1 {
    width: 170px;
    height: 50px;
  }
}

@media screen and (max-width: 576px) {
  .header {
    grid-column-gap: 10px;
  }
  .header__button1 {
    width: 150px;
    height: 45px;
  }
  .header__logo {
    margin-right: 0;
  }
}

.footer {
  background: #F8F8F8;
  height: 570px;
}

.footer__container {
  padding-top: 180px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 350px (auto)[3];
      grid-template-columns: 350px repeat(3, auto);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: 'header left center right' 'main left center right' 'social left center right' 'footer left center right';
  grid-column-gap: 120px;
}

.footer__logo {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: header;
}

.footer__text {
  margin-top: 20px;
  margin-bottom: 30px;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: main;
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: social;
}

.footer__social {
  height: 60px;
  width: 60px;
}

.footer__data {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: footer;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #AFB5C0;
}

.footer-list_products {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: left;
}

.footer-list_pages {
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  -ms-grid-column: 3;
  grid-area: center;
}

.footer-list_engage {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: right;
}

.footer-list__title {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #0B132A;
  display: block;
  margin-bottom: 20px;
}

.footer-list__link {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #4F5665;
}

.footer-list__item {
  margin-bottom: 10px;
}

@media screen and (max-width: 1200px) {
  .footer__container {
    grid-column-gap: 90px;
  }
}

@media screen and (max-width: 992px) {
  .footer {
    height: auto;
  }
  .footer__container {
    padding-top: 160px;
    -ms-grid-columns: auto auto 120px;
        grid-template-columns: auto auto 120px;
    grid-column-gap: 50px;
        grid-template-areas: 'header header header ' 'main main main' 'left center right' 'social social social' 'footer footer footer';
  }
  .footer__data {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 25px;
  }
  .footer__social {
    height: 50px;
    width: 50px;
    margin-top: 10px;
  }
  .footer-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer-list__title {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 17px;
    width: 100%;
  }
  .footer-list__link {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
  }
  .footer-list__item {
    margin-bottom: 9px;
    width: 50%;
  }
  .footer-list:last-child {
    display: block;
  }
  .footer-list:last-child .footer-list__item {
    margin-bottom: 9px;
    width: 100%;
  }
  .footer__text {
    width: 50%;
    height: 50px;
  }
}

@media screen and (max-width: 768px) {
  .footer__text {
    width: 70%;
    height: auto;
    margin-bottom: 40px;
  }
  .footer__social {
    height: 70px;
    width: 70px;
    margin-top: 20px;
  }
  .footer__container {
    -ms-grid-columns: 2fr 3fr 120px;
        grid-template-columns: 2fr 3fr 120px;
    grid-column-gap: 10px;
  }
  .footer-list__title {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 576px) {
  .footer__text {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  .footer__container {
    -ms-grid-columns: 2fr 3fr 2fr;
        grid-template-columns: 2fr 3fr 2fr;
    grid-column-gap: 10px;
  }
  .footer-list {
    display: block;
  }
  .footer-list__title {
    margin-bottom: 10px;
  }
}

.hero {
  height: 535px;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 1;
}

.hero__description {
  padding-top: 70px;
}

.hero__title {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 70px;
  color: #0B132A;
  width: 560px;
}

.hero__text {
  margin: 20px 0 50px 0;
  width: 560px;
}

.hero__button2 {
  height: 60px;
  width: 250px;
}

.hero::before {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/hero-illustration.svg");
  background-repeat: no-repeat;
  background-size: 45% 75%;
  background-position: right 0 top 20%;
  z-index: -1;
}

@media screen and (max-width: 1200px) {
  .hero::before {
    background-size: 60% 80%;
  }
}

@media screen and (max-width: 992px) {
  .hero {
    height: 500px;
  }
  .hero__description {
    padding-top: 30px;
  }
  .hero__title {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 55px;
    color: #0B132A;
    width: 420px;
  }
  .hero__text {
    width: 420px;
  }
  .hero__button2 {
    height: 48px;
    width: 200px;
  }
  .hero::before {
    width: 110%;
    opacity: 0.5;
    background-size: 80% auto;
    background-position: right 0 top 0;
  }
}

@media screen and (max-width: 768px) {
  .hero {
    height: 590px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-top: 40px;
  }
  .hero__description {
    padding-top: 30px;
  }
  .hero__title {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 65px;
    color: #0B132A;
    width: 500px;
  }
  .hero__text {
    width: 430px;
  }
  .hero__button2 {
    height: 60px;
    width: 250px;
  }
  .hero::before {
    width: 100%;
    top: 30px;
    opacity: 0.4;
    background-size: auto;
    background-position: right 0 top 30%;
  }
}

@media screen and (max-width: 576px) {
  .hero {
    height: 500px;
  }
  .hero__description {
    padding-top: 0;
    width: 100%;
  }
  .hero__title {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
    color: #0B132A;
    width: 100%;
  }
  .hero__text {
    margin: 20px 0 50px 0;
    width: 100%;
  }
  .hero__button2 {
    height: 60px;
    width: 250px;
  }
  .hero::before {
    width: 100%;
    top: 0;
    opacity: 0.3;
    background-size: auto;
    background-position: right 0 top 50%;
  }
}

.about {
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about__number {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: header;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: #0B132A;
}

.about__name {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: main;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #4F5665;
}

.about__icon {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: left;
}

.about__item {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'left header' 'left main';
  grid-column-gap: 40px;
  grid-row-gap: 5px;
  height: 60px;
  margin: 0 100px 0 100px;
  position: relative;
}

.about__item::before {
  content: '';
  position: absolute;
  height: 200%;
  width: 2px;
  background: #EEEFF2;
  left: -100px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.about__item:first-child::before {
  display: none;
}

@media screen and (max-width: 1200px) {
  .about__item {
    margin: 0 80px 0 80px;
    grid-column-gap: 20px;
  }
  .about__item::before {
    left: -80px;
  }
}

@media screen and (max-width: 992px) {
  .about {
    height: 170px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .about__item {
    margin: 0;
    grid-column-gap: 18px;
    grid-row-gap: 0;
  }
  .about__item::before {
    left: -40px;
  }
  .about__number {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
  }
  .about__name {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
  }
  .about__icon {
    width: 50px;
    height: 50px;
  }
}

@media screen and (max-width: 768px) {
  .about {
    height: 230px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .about__item {
    width: 50%;
  }
  .about__item::before {
    height: 150%;
    left: 0;
  }
  .about__item:last-child::before {
    height: 2px;
    width: 70%;
    left: 50%;
    top: -40%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
  .about__icon {
    margin-left: 50%;
  }
}

.features {
  height: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features__content {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'left header' 'left main' 'left list';
  grid-column-gap: 170px;
  grid-row-gap: 20px;
}

.features__illustration {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: left;
  width: 510px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.features__title {
  margin-top: 50px;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: header;
  width: 385px;
}

.features__text {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: main;
}

.features__list {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: list;
}

.features__item {
  margin-bottom: 15px;
  background: url("../img/mark1.svg") no-repeat;
}

@media screen and (max-width: 1200px) {
  .features {
    height: 600px;
  }
  .features__content {
    grid-column-gap: 100px;
    -ms-grid-columns: 45% 1fr;
        grid-template-columns: 45% 1fr;
  }
  .features__illustration {
    width: 100%;
  }
}

@media screen and (max-width: 992px) {
  .features {
    height: 650px;
  }
  .features__content {
        grid-template-areas: 'header header' 'main main' 'left list';
    grid-column-gap: 50px;
    grid-row-gap: 20px;
    -ms-grid-columns: 60% 40%;
        grid-template-columns: 60% 40%;
  }
  .features__illustration {
    width: 100%;
    height: auto;
  }
  .features__title {
    margin: 0 auto;
    margin-top: 50px;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: header;
    width: 385px;
    text-align: center;
  }
  .features__text {
    text-align: center;
    margin: 0 auto;
    width: 550px;
  }
  .features__list {
    margin-top: 30px;
  }
  .features__item {
    margin-bottom: 15px;
    background: url("../img/mark1.svg") no-repeat;
  }
}

@media screen and (max-width: 768px) {
  .features {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: 500px;
    z-index: 1;
    position: relative;
  }
  .features__content {
        grid-template-areas: 'header' 'main' 'list';
    grid-column-gap: 50px;
    grid-row-gap: 20px;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
  .features__text {
    width: 90%;
  }
  .features__list {
    margin-left: 50%;
    margin-top: 10px;
  }
  .features__illustration {
    display: none;
  }
  .features::before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/features-illustration.svg");
    background-repeat: no-repeat;
    background-size: 50% auto;
    background-position: left 0 top 80%;
    opacity: 0.7;
    z-index: -1;
  }
}

@media screen and (max-width: 576px) {
  .features {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: 500px;
    z-index: 1;
    position: relative;
  }
  .features__content {
        grid-template-areas: 'header' 'main' 'list';
    grid-column-gap: 0;
    grid-row-gap: 20px;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
  .features__text {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: main;
    width: 100%;
  }
  .features__title {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: header;
    width: 100%;
  }
  .features__list {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: list;
    margin-left: 40%;
    margin-top: 10px;
  }
}

.plans {
  height: 1180px;
  padding-top: 80px;
  text-align: center;
}

.plans__text {
  width: 550px;
  margin: 20px auto 60px;
}

.plans__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.plans__item {
  height: 760px;
  width: 330px;
  background: #FFFFFF;
  border: 2px solid #DDDDDD;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
}

.plans__item:hover {
  border-color: #F53838;
}

.plans-item__title {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #0B132A;
  margin: 30px auto;
}

.plans-item__list {
  text-align: left;
  width: 190px;
  height: 230px;
  margin: 0 auto;
}

.plans-item__point {
  margin-bottom: 10px;
  background: url("../img/mark2.svg") no-repeat;
}

.plans-item__price {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  color: #0B132A;
  margin-top: 50px;
}

.plans-item__value {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  color: #0B132A;
}

.plans-item__button1 {
  margin: 20px auto;
  width: 178px;
  height: 45px;
  color: #F53838;
  border-color: #F53838;
  z-index: 1;
}

.plans-item__button1:hover {
  background-color: #F53838;
}

.plans-item__img {
  width: 145px;
  margin: 0 auto;
  margin-top: 80px;
}

@media screen and (max-width: 1200px) {
  .plans {
    height: 920px;
    padding-top: 30px;
  }
  .plans__item {
    height: 610px;
    width: 290px;
  }
  .plans-item__title {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .plans-item__list {
    height: 215px;
  }
  .plans-item__point {
    margin-bottom: 7px;
  }
  .plans-item__price {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    margin-top: 15px;
  }
  .plans-item__value {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
  }
  .plans-item__img {
    width: 145px;
    margin: 0 auto;
    margin-top: 30px;
  }
  .plans-item__button1 {
    margin: 15px auto;
  }
}

@media screen and (max-width: 992px) {
  .plans {
    height: 1350px;
  }
  .plans__text {
    width: 550px;
    margin-bottom: 0;
  }
  .plans__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .plans__item {
    height: auto;
    margin-top: 40px;
  }
  .plans-item__list {
    height: 155px;
  }
  .plans-item:last-child .plans-item__list {
    height: 185px;
  }
}

@media screen and (max-width: 768px) {
  .plans {
    height: 2210px;
  }
  .plans__text {
    width: 90%;
  }
  .plans__item {
    width: 330px;
    height: auto;
    margin-top: 35px;
  }
  .plans-item__img {
    width: 170px;
    margin: 0 auto;
    margin-top: 50px;
  }
  .plans-item__title {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 35px;
    margin: 30px auto 20px auto;
  }
  .plans-item__list {
    height: auto;
  }
  .plans-item__point {
    margin-bottom: 10px;
  }
  .plans-item__price {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    margin-top: 20px;
  }
  .plans-item__value {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
  }
  .plans-item__button1 {
    margin-bottom: 25px;
    width: 178px;
    height: 45px;
  }
  .plans-item:last-child .plans-item__list {
    height: auto;
  }
}

@media screen and (max-width: 576px) {
  .plans {
    height: 1830px;
  }
  .plans__text {
    width: 90%;
  }
  .plans__item {
    width: 290px;
    height: auto;
    margin-top: 20px;
  }
  .plans-item__img {
    width: 150px;
    margin: 0 auto;
    margin-top: 20px;
  }
  .plans-item__title {
    margin: 10px auto 10px auto;
  }
  .plans-item__list {
    height: auto;
  }
  .plans-item__point {
    margin-bottom: 7px;
  }
  .plans-item__price {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    margin-top: 20px;
  }
  .plans-item__value {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
  }
  .plans-item__button1 {
    margin-bottom: 25px;
    width: 178px;
    height: 45px;
  }
}

.map {
  text-align: center;
}

.map__title {
  width: 385px;
  margin: 0 auto;
}

.map__text {
  width: 555px;
  margin: 20px auto 155px auto;
}

.map__illustration {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.map__partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 210px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.map__item {
  width: 18%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1200px) {
  .map__text {
    margin: 20px auto 55px auto;
  }
  .map__partners {
    height: 150px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .map__item {
    width: 15%;
  }
}

@media screen and (max-width: 768px) {
  .map {
    height: auto;
  }
  .map__text {
    width: 90%;
  }
  .map__partners {
    height: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 5%;
  }
  .map__item {
    width: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 15px;
  }
  .map__link {
    width: 90%;
  }
}

@media screen and (max-width: 576px) {
  .map__text, .map__title {
    width: 90%;
  }
  .map__item {
    width: 45%;
  }
}

.reviews {
  text-align: center;
  height: 775px;
}

.reviews__title {
  width: 450px;
  margin: 0 auto;
}

.reviews__text {
  width: 555px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 60px;
}

.reviews__list {
  text-align: left;
  overflow: hidden;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviews__item {
  background: #FFFFFF;
  border: 2px solid #DDDDDD;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  height: 230px;
  width: 400px;
  padding: 30px;
  margin-right: 40px;
}

.reviews__item:hover {
  border-color: #F53838;
}

.reviews-item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50px 200px 50px;
      grid-template-columns: 50px 200px 50px;
  -ms-grid-rows: 25px 25px 1fr;
      grid-template-rows: 25px 25px 1fr;
      grid-template-areas: 'left header right' 'left footer right' 'main main main';
  grid-column-gap: 20px;
}

.reviews-item__img {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: left;
}

.reviews-item__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: header;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #0B132A;
}

.reviews-item__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: footer;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #4F5665;
}

.reviews-item__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: right;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #0B132A;
  background: url("../img/star.svg") no-repeat;
  background-size: 16px 16px;
  background-position: right 0 top 40%;
}

.reviews-item__text {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: main;
  margin-top: 10px;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #0B132A;
}

.reviews__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 60px;
}

.reviews__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 15px;
  gap: 15px;
}

.reviews__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.reviews__button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid #F53838;
  background: #F6F6F6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reviews-button:hover {
  background: #F53838;
}

.reviews-button:hover .reviews-button__arrow {
  fill: #FFFFFF;
}

@media screen and (max-width: 1200px) {
  .reviews {
    padding-top: 50px;
  }
}

@media screen and (max-width: 992px) {
  .reviews {
    height: 720px;
    padding-top: 50px;
  }
  .reviews__item {
    height: 200px;
    width: auto;
    padding: 24px;
    margin-right: 30px;
  }
  .reviews-item {
    -ms-grid-columns: 40px 140px 45px;
        grid-template-columns: 40px 140px 45px;
    -ms-grid-rows: 20px 20px 1fr;
        grid-template-rows: 20px 20px 1fr;
    grid-column-gap: 15px;
  }
  .reviews-item__name {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
  }
  .reviews-item__location {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 25px;
  }
  .reviews-item__text {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 25px;
    overflow: hidden;
    height: 90px;
  }
  .reviews__footer {
    margin-top: 40px;
  }
  .reviews__slider {
    height: 10px;
    gap: 10px;
  }
  .reviews__buttons {
    gap: 10px;
  }
  .reviews__button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
}

@media screen and (max-width: 768px) {
  .reviews {
    height: 730px;
    padding-top: 100px;
  }
  .reviews__text {
    width: 90%;
  }
  .reviews__buttons {
    gap: 15px;
  }
  .reviews__button {
    width: 50px;
    height: 50px;
  }
}

@media screen and (max-width: 576px) {
  .reviews {
    height: 730px;
    padding-top: 100px;
  }
  .reviews__text, .reviews__title {
    width: 90%;
  }
  .reviews__buttons {
    gap: 15px;
  }
  .reviews__button {
    width: 50px;
    height: 50px;
  }
}

.subscribe {
  position: absolute;
  left: 50%;
  bottom: -115px;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.subscribe__panel {
  height: 233px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 70px;
}

.subscribe__description {
  width: 370px;
}

.subscribe__title {
  margin-bottom: 20px;
}

.subscribe__button2 {
  height: 60px;
  width: 250px;
  z-index: 1;
}

@media screen and (max-width: 992px) {
  .subscribe__panel {
    height: 190px;
    padding: 0 50px;
  }
  .subscribe__description {
    width: 370px;
  }
  .subscribe__title {
    margin-bottom: 15px;
  }
  .subscribe__button2 {
    height: 48px;
    width: 200px;
  }
}

@media screen and (max-width: 768px) {
  .subscribe {
    position: absolute;
    left: 50%;
    bottom: -115px;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
  .subscribe__panel {
    height: auto;
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 30px;
  }
  .subscribe__description {
    width: 370px;
  }
  .subscribe__title {
    margin-bottom: 10px;
  }
  .subscribe__button2 {
    margin-top: 23px;
    height: 55px;
    width: 220px;
    z-index: 1;
  }
}

@media screen and (max-width: 576px) {
  .subscribe {
    left: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  .subscribe__description {
    width: 100%;
  }
}

img {
  width: 100%;
}

body, h1, h2, h3, h4, h5, h6, h2, ul, p, a, img, button {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:hover, button:hover {
  cursor: pointer;
}

ul {
  list-style-type: none;
}

.body {
  background-color: #F6F6F6;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.aside {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-45.04%, #F8F8F8), color-stop(88.56%, rgba(248, 248, 248, 0)));
  background: linear-gradient(180deg, #F8F8F8 -45.04%, rgba(248, 248, 248, 0) 88.56%);
  position: relative;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__name {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #0B132A;
}

.logo__img {
  width: 36px;
  height: 36px;
  margin-right: 10px;
}

.text {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #4F5665;
}

.title {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  color: #0B132A;
}

.paragraph {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #4F5665;
  padding-left: 33px;
  background-size: 20px 20px;
  background-position: left;
}

.button1 {
  border: 1px solid;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50px;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.button1::after {
  content: '';
  position: absolute;
  background: rgba(245, 56, 56, 0.35);
  -webkit-filter: blur(30px);
          filter: blur(30px);
  border-radius: 60px;
  width: 100%;
  height: 100%;
  left: 0;
  top: 40%;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: -1;
}

.button1:hover {
  color: white;
}

.button1:hover::after {
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.button2 {
  background: #F53838;
  border: 1px solid #F53838;
  border-radius: 10px;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  color: #FFFFFF;
  position: relative;
}

.button2::after {
  content: '';
  position: absolute;
  background: rgba(245, 56, 56, 0.35);
  -webkit-filter: blur(54px);
          filter: blur(54px);
  border-radius: 10px;
  width: 100%;
  height: 100%;
  left: 0;
  top: 40%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: -1;
}

.panel {
  background-color: white;
  border-radius: 10px;
  position: relative;
}

.panel::after {
  content: '';
  position: absolute;
  left: 0;
  top: 40%;
  width: 100%;
  height: 100%;
  background: #0D1025;
  opacity: 0.06;
  z-index: -1;
  -webkit-filter: blur(114px);
          filter: blur(114px);
  border-radius: 10px;
}

@media screen and (max-width: 1200px) {
  .container {
    width: 960px;
  }
}

@media screen and (max-width: 992px) {
  .container {
    width: 720px;
  }
  .logo__name {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
  }
  .logo__img {
    width: 30px;
    height: 30px;
  }
  .text {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 25px;
  }
  .title {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 43px;
  }
  .paragraph {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 25px;
    padding-left: 33px;
    background-size: 20px 20px;
  }
  .button1 {
    border-radius: 50px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
  }
  .button1::after {
    -webkit-filter: blur(30px);
            filter: blur(30px);
    border-radius: 60px;
  }
  .button2 {
    border-radius: 10px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 25px;
  }
  .button2::after {
    -webkit-filter: blur(54px);
            filter: blur(54px);
    border-radius: 10px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 540px;
  }
  .logo__name {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
  }
  .logo__img {
    width: 30px;
    height: 30px;
  }
  .text {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
  }
  .title {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 43px;
  }
  .paragraph {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    padding-left: 33px;
    background-size: 20px 20px;
  }
  .button1 {
    border-radius: 40px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }
  .button1::after {
    -webkit-filter: blur(20px);
            filter: blur(20px);
    border-radius: 40px;
  }
  .button2 {
    border-radius: 10px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
  }
  .button2::after {
    -webkit-filter: blur(40px);
            filter: blur(40px);
    border-radius: 10px;
  }
}

@media screen and (max-width: 576px) {
  .container {
    margin: 0 5%;
    width: 90%;
  }
  .logo__name {
    display: none;
  }
  .text {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
  }
  .title {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 38px;
  }
  .paragraph {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    padding-left: 33px;
    background-size: 20px 20px;
  }
}
/*# sourceMappingURL=index.css.map */