@import './../helpers/mixins';

.hero{
    height: 535px;
    position: relative;
    box-sizing: border-box;
    z-index: 1;
    &__description{
        padding-top: 70px;
    }
    &__title{
        @include font(50px, 500, 70px);
        color: #0B132A;
        width: 560px;
    }
    &__text{
        margin: 20px 0 50px 0;
        width: 560px;
    }
    &__button2{
        height: 60px;
        width: 250px;
    }
}
.hero::before{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url('./../img/hero-illustration.svg');
    background-repeat:  no-repeat;
    background-size: 45% 75%;
    background-position: right 0 top 20%;
    z-index: -1;
}

@media screen and (max-width: 1200px){
    .hero::before{
        background-size: 60% 80%;
    }
}

@media screen and (max-width: 992px){
    .hero{
        height: 500px;
        &__description{
            padding-top: 30px;
        }
        &__title{
            @include font(40px, 500, 55px);
            color: #0B132A;
            width: 420px;
        }
        &__text{
            width: 420px;
        }
        &__button2{
            height: 48px;
            width: 200px;
        }
    }
    .hero::before{
        width: 110%;
        opacity: 0.5;
        background-size: 80% auto;
        background-position: right 0 top 0;
    }
}

@media screen and (max-width: 768px){
    .hero{
        height:590px;
        box-sizing: border-box;
        padding-top: 40px;
        &__description{
            padding-top: 30px;
        }
        &__title{
            @include font(45px, 500, 65px);
            color: #0B132A;
            width: 500px;
        }
        &__text{
            width: 430px;
        }
        &__button2{
            height: 60px;
            width: 250px;
        }
    }
    .hero::before{
        width: 100%;
        top: 30px;
        opacity: 0.4;
        background-size: auto;
        background-position: right 0 top 30%;
    }

}
@media screen and (max-width: 576px){
    .hero{
        height:500px;
        &__description{
            padding-top: 0;
            width: 100%;
        }
        &__title{
            @include font(35px, 500, 50px);
            color: #0B132A;
            width: 100%;
        }
        &__text{
            margin: 20px 0 50px 0;
            width: 100%;
        }
        &__button2{
            height: 60px;
            width: 250px;
        }
    }
    .hero::before{
        width: 100%;
        top: 0;
        opacity: 0.3;
        background-size: auto;
        background-position: right 0 top 50%;
    }
}