@import './../helpers/mixins';

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 130px;
    &__list{
        display: flex;
        gap: 40px;
    }
    &__link{
        @include font(16px, normal, 19px);
        color: #4F5665;
    }
    &__burger-menu{
        display: none;
    }
    &__authorization{
        display: flex;
        align-items: center
    }
    &__button{
        @include font(16px, 500, 19px);
        color: #0B132A;
        border: none;
        background: none;
        height: 45px;
        width: auto;
        margin-right: 30px;
    }
    &__button1{
        color: #f53855;
        border-color: #F53855;
        width: 150px;
        height: 45px;
    }
    &__button1:hover{
        background-color: #F53855;
    }
}

@media screen and (max-width: 1200px){
    .header{
        &__list{
            gap: 20px;
        }
    }
}

@media screen and (max-width: 992px){
    .header{
        display: grid;
        grid-template-areas:'menu logo right ';
        grid-column-gap: 50px;
        &__list{
            display: none;
        }
        &__burger-menu{
            display: block;
        }
        &__logo{
            grid-area: logo;
            margin-right: 180px;
        }
        &__authorization{
            grid-area: right;
        }
        &__menu{
            margin-right: 0;
            width: 100px;
            height: 100%;
            display: flex;
            align-items: center;
            grid-area: menu;
        }
        &__menu:hover{
            .header__burger-menu{
                display: none;
            }
            .header__list{
                display: block;
            }
        }
        &__item{
            margin-top: 5px;
        }
        &__button{
            @include font(14px, 500, 19px);
            height: 36px;
            margin-right: 25px;
        }
        &__button1{
            width: 120px;
            height: 36px;
        }
    }
}

@media screen and (max-width: 768px){
    .header{
        height: 60px;
        padding-top: 20px;
        &__menu{
            margin-right: 0;
            width: 50px;
            height: 100%;
            display: flex;
            justify-content: center;
            position: relative;
        }
        &__menu:hover{
            .header__list{
                position: absolute;
                display: block;
                left: -20px;
                top: 0;
                height: auto;
                width: 150px;
                z-index: 2;
                background-color: #F6F6F6;
                border: 0.5px solid #eeecec;
            }
        }
        &__logo{
            margin-right: 0;
        }
        &__item{
            margin-top: 5px;
            height: 25px;
        }
        &__link{
            @include font(18px, normal, 25px);
            margin-left: 20px;
        }
        &__button{
            display: none;
        }
        &__button1{
            width: 170px;
            height: 50px;
        }
    }

}

@media screen and (max-width: 576px){
    .header{
        grid-column-gap: 10px;
        &__button1{
            width: 150px;
            height: 45px;
        }
        &__logo{
            margin-right: 0;
        }
    }
    
}